#subContentsWrap { margin-top: 160px; padding: 100px 0; }

#subContentsWrap #contents { width: 1440px; margin: 0 auto; }

.breadCrumb ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.breadCrumb ul li:nth-child(1) a:before { display: none; }

.breadCrumb ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; }

.breadCrumb ul li a:before { font-family: "Material Icons"; content: "chevron_right"; display: block; padding: 0 10px; }

.subTitle { font-size: 6.4rem; font-weight: 500; margin: 50px 0; }

#lnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#lnb ul li { margin-right: 20px; }

#lnb ul li.on a { background-color: #1dcb5d; color: #fff; font-weight: 500; }

#lnb ul li a { display: block; padding: 20px 40px; background-color: #f5f5f5; border-radius: 100px; }
