.contents { width: 1440px; margin: auto; }

.titleBox { line-height: 1.5; }

.titleBox h2 { margin-bottom: 50px; font-size: 3.6rem; font-weight: 600; }

.titleBox p { font-size: 1.8rem; }

.btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.btns.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.btns.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.btns .btn { border: 1px solid #d9d9d9; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btns .transition:hover { background-color: #111111; border-color: #111111; color: #fff; }

.btns .large { height: 60px; padding: 0 50px; }

#main #mainVisual li { height: 100vh; background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #mainVisual li.visual01 { background-image: url("../images/main/bg1.jpg"); }

#main #mainVisual li.visual02 { background-image: url("../images/main/bg2.jpg"); }

#main #mainVisual li.visual03 { background-image: url("../images/main/bg3.jpg"); }

#main #mainVisual .slogan { position: absolute; top: 50%; left: 50%; z-index: 2; color: #fff; text-align: center; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#main #mainVisual .slogan .main { font-size: 6.4rem; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); font-weight: 700; }

#main #mainVisual .slogan .sub { margin-top: 3rem; font-size: 2rem; }

#main #mainVisual .slogan a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; margin-top: 5rem; padding: 20px 40px; border: 1px solid #fff; -webkit-transition: 0.25s ease; transition: 0.25s ease; border-radius: 100px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main #mainVisual .slogan a:hover { color: #111111; background-color: #fff; }

#main #mainVisual .slogan a span { margin-left: 2rem; }

#main #mainVisual .slogan .pagination { margin-top: 50px; }

#main #mainVisual .slogan .pagination .swiper-pagination-bullet { width: 20px; height: 20px; background: none; border: 2px solid #fff; opacity: 1; -webkit-transition: 0.25s ease; transition: 0.25s ease; border-radius: 100px; }

#main #mainVisual .slogan .pagination .swiper-pagination-bullet-active { width: 80px; background: #fff; }

#main #product { overflow: hidden; position: relative; }

#main #product .titleBox { position: absolute; top: 100px; left: 100px; z-index: 2; }

#main #product .list li { position: relative; }

#main #product .list li a { position: absolute; right: 50px; bottom: 50px; padding: 15px 30px; border: 1px solid #111111; -webkit-transition: 0.25s ease; transition: 0.25s ease; border-radius: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main #product .list li a span { margin-left: 20px; color: #1dcb5d; }

#main #product .list li a:hover { color: #fff; background-color: #111111; }

#main #product .btns { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; bottom: 0; left: 0; z-index: 2; }

#main #product .btns button { background-color: #fff; border-radius: 0; border: none; width: 100px; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main #product .btns button span { font-size: 4.8rem; }

#main #news { padding: 100px 0; }

#main #news .contents .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 50px; }

#main #news .contents .list li { width: 31.33%; }

#main #news .contents .list li a { display: block; position: relative; overflow: hidden; border: 1px solid #f5f5f5; border-radius: 20px; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #news .contents .list li a:hover { -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }

#main #news .contents .list li a:hover .img { -webkit-transform: scale(1.15); transform: scale(1.15); }

#main #news .contents .list li a:hover .txtBox { -webkit-transform: translateY(0); transform: translateY(0); }

#main #news .contents .list li a:before { content: ""; display: block; padding-top: 80%; }

#main #news .contents .list li a .img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-position: 50%; background-size: cover; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #news .contents .list li a .txtBox { position: absolute; background-color: #fff; padding: 30px; left: 0; bottom: 0; width: 100%; -webkit-transform: translateY(50px); transform: translateY(50px); -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #news .contents .list li a .txtBox h3 { font-size: 2.4rem; line-height: 1.5; height: 3em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; margin-bottom: 30px; }

#main #news .contents .list li a .txtBox .date { margin-bottom: 30px; }

#main #news .contents .list li a .txtBox .txt { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#main #news .contents .btns { margin-top: 50px; }

#main #cs .contents ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main #cs .contents ul li { width: 49%; background-repeat: no-repeat; background-size: cover; overflow: hidden; border-radius: 10px; }

#main #cs .contents ul li:nth-child(1) { background-image: url("../images/main/bg_contact.jpg"); }

#main #cs .contents ul li:nth-child(2) { background-image: url("../images/main/bg_charge.jpg"); }

#main #cs .contents ul li a { height: 150px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 30px; }

#main #cs .contents ul li a .txtBox { color: #fff; }

#main #cs .contents ul li a .txtBox strong { font-size: 2rem; display: block; margin-bottom: 10px; }

#main #cs .contents ul li a .btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #111111; color: #fff; padding: 10px 20px; border-radius: 100px; font-size: 1.4rem; }

#main #cs .contents ul li a .btn span { color: #1dcb5d; margin-left: 10px; }

.testTable { width: 1200px; background: #d9d9d9; border-top: 2px solid #000; margin: 300px auto; color: #fff; }

.testTable th { background-color: #f00; padding: 30px 0; }

.testTable th .emoji { font-size: 40px; }

.testTable td { background-color: #00f; padding: 30px 0; }
