@media all and (max-width: 1440px) { * { -webkit-box-sizing: border-box; box-sizing: border-box; }
  .contents { width: 100%; padding: 0 50px; }
  #footer .contents .link { right: 50px; } }

@media all and (max-width: 1024px) { .contents { padding: 0 20px; }
  #footer .contents .link { right: 20px; }
  #main #news .contents .list { display: block; }
  #main #news .contents .list li { width: 100%; }
  #main #cs .contents ul { display: block; }
  #main #cs .contents ul li { width: 100%; margin: 10px 0; } }

@media all and (max-width: 960px) { #footer { position: relative; }
  #footer .contents { padding-bottom: 50px; }
  #footer .contents .addressBox address .info span { display: block; margin: 5px 0; }
  #footer .contents .addressBox address .info a { width: 100%; height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #111111; color: #fff; border-radius: 100px; margin-top: 50px; }
  #footer .contents .addressBox address .copyright { position: absolute; bottom: 0px; }
  #footer .contents .link { position: relative; right: 0; height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #111111; color: #fff; border-radius: 100px; margin-top: 20px; } }

@media all and (max-width: 640px) { #main #news .contents .list li { margin-bottom: 20px; }
  #main #news .contents .list li a .txtBox { position: relative; padding: 15px; -webkit-transform: translateY(0); transform: translateY(0); }
  #main #news .contents .list li a .txtBox h3 { font-size: 1.8rem; }
  #footer .contents .addressBox .logo { margin-bottom: 30px; }
  #footer .contents .addressBox .logo img { height: 30px; }
  #footer .contents .addressBox address .info a { height: 40px; }
  #footer .contents .link { height: 40px; margin-top: 10px; } }
