@import "vars";
@import "mixins";

//분기..... mediaquery
// responsive.css 는 css 제일 마지막 줄에 쓰느게 좋다.
// 점수 먼저 따지고 순서 따진다.

@media all and (max-width: 1440px) {
  * {
    box-sizing: border-box;
  }
  .contents {
    width: 100%;
    padding: 0 50px;
  }
  #footer {
    .contents {
      .link {
        right: 50px;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .contents {
    padding: 0 20px;
  }
  #footer {
    .contents {
      .link {
        right: 20px;
      }
    }
  }
  #main {
    #cs {
      .contents {
        ul {
          display: block;
          li {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }
}

//960보다 작아졌을떄..
